body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}

/*header section*/

.header-section {
    background-color: #fff;
}
.header-content {
    display: flex;
}
.navigation {
    display: flex;
}
.logo {
    font-family: 'Raleway', sans-serif;
    color: #2196F3;
    text-decoration: none;
    display: block;
    margin: 24px 93px 25px 0px;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;

}
.header-studio {
    font-family: 'Raleway', sans-serif;
    color: black;
}
.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: auto 281px auto 0px;
}
.nav-element {
    margin-right: 50px;
}
.nav-link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    padding: 32px 0px;
}
.nav-link:hover,
.nav-link:focus {
    color: #2196F3;
    text-decoration: none;
}
.contact-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: auto -50px auto 0px;
}
.contact-element {
    text-decoration: none;
    margin-right: 50px;
}
.contact-link {
    display: block;
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding: 32px 0px;
}
.contact-link:focus,
.contact-link:hover {
    color: #2196F3;
    text-decoration: none;
}

/*main section*/

.main-section {
    margin: 0 auto;
}

/*hero section*/

.hero-section {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-content {
    width: 100%;
    margin: 0 auto;
    /* display: inline-block; */
}
.hero-button {
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 0.06em;
    padding: 0px;
    margin: 0 500px;
}
.hero-heading {
    /* display: inline-block; */
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px 252px 30px;
}

/*work section*/

.work-section {
    margin: 0 auto;
    background-color: white;
    padding-bottom: 94px;
}
.accents-section {
    margin: 0 auto;
    background-color: white;
    padding-top: 94px;
    padding-bottom: 94px;
}
/* .accents {
    display: inline-block;
    width: 100%;
    margin-top: 94px;
} */
.accents-list {
    display: flex;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    margin-left: -30px;
}
.accents-element {
    flex-basis: calc(100% / 4 - 30px);
    display: inline-block;
    margin-left: 30px;
}
.accents-heading {
    display: inline-block;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.accents-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.work {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 94px auto 94px;

}
.work-list {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px auto;
    margin-left: -30px;
}
.work-heading {
    /* display: inline-block; */
    margin: 0px auto 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
.work-element {
    margin-left: 30px;
}

/*team-section*/

.team-section {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
/*.our-team {
    width: 100%;
    margin: 0 auto; 
} */
.team-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px auto 50px;
    align-items: center;
    color: #212121;
}
.team-list {
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-left: -30px;
    padding: 0px;
    list-style: none;
    /* display: flex; */
}
.team-element {
    margin-left: 30px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    box-sizing: border-box;
}
.team-text {
    align-items: center;
    margin: 30px auto;
}
.team-member {
    color: #212121;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px;
}
.team-member-profession {
    color: #757575;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
/*footer section*/

.footer-section {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-content {

}
.footer-nav {
    display: inline-block;
    
}
.footer-logo {
    display: block;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.footer-studio {
    color: #ffffff
}
.footer-list {
    padding: 0px;
    list-style: none;
    margin: 0;
    margin-top: 20px;
}
.footer-element {
    margin-bottom: 9px;
}
.footer-adress {

}
.footer-adress-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}